body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style for the image */
.circle-image {
    /* Add styles if needed, e.g., to ensure the image is not too large on the screen */
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Makes the image circular if it's square */
}

footer {
    text-align: center;
    padding: 20px 0; /* Add some padding */
    width: 100%;
}

.footer-link {
    color: white; /* Set the link color, adjust as needed */
    text-decoration: none; /* Remove underline */
}

.footer-link:hover {
    text-decoration: underline; /* Add underline on hover */
}
